<section class="douban" style="min-height: 20px;
padding: 19px;
margin-bottom: 10px;">
<ul style="list-type:none">
	<li class="nav-header" style="display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-shadow: 0 1px 0 
	rgba(255, 255, 255, 0.5);
	text-transform: uppercase;">douban</li>
<script type="text/javascript" src="http://www.douban.com/service/badge/shell0fly/?show=collection&amp;select=random&amp;n=6&amp;columns=2&amp;hidelogo=yes&amp;cat=movie|book|music" ></script>
</ul>
</section>
