<section class="friend-links" style="min-height: 20px;
padding: 19px;
margin-bottom: 10px;
//background-color: ;
//border: 1px solid rgba(0, 0, 0, 0.05);
//border-radius: 4px;">

<ul style="list-style:none; 
	margin-bottom: 9;">
	
	<li class="friend-header" style="display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-transform: uppercase;">Neighbor</li>
	<li style="float: left; width:100px; padding: 2px 0px"><a href="http://www.badteen.net">乱码</a></li>
	<li style="float: left; width:100px; padding: 2px 0px"><a href="http://www.dutor.net">Dutor</a><li>
	<li style="float: left; width:100px; padding: 2px 0px"> <a href="http://hi.baidu.com/xiaorengang/home">天大的芝麻</a></li> 
</ul>
</section>
